.Input-logint{ /*email,password*/ 
    width: 280px; 
    outline:none  ;/*quitar borde azul*/ 
    height: 30px; 
    border-radius: 5px;
    border-color: rgba(0, 0, 255, 0.384);

}
.submit{  /*submit*/
    background-color: black; 
    height: 40px;
    width: 150px; 
    border:none ; 
    color: white; 
    cursor: pointer;
}
